<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vue.js"></script>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/all.css">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <h2>{{ title }}</h2>
        <form v-on:submit.prevent="addTask">
            <input type="text" placeholder="Tâche à effectuer" v-model="task">
            <button type="submit">Ajouter</button>
        </form>

        <ul>
            <li v-bind:class="{completed : task.done}" v-on:click="task.done = !task.done" v-for="task in tasks">
                <span v-if="!task.isInEditMode">
                    <i class="fas fa-edit" v-on:click="switchMode(task)"></i>{{ task.description }}
                    <i class="far fa-trash-alt" v-on:click="deleteTask(task)"></i>
                </span>

                <span v-else>
                    <i class="fas fa-thumbs-up"></i>
                    <input type="text" v-model="task.description" v-on:keyup.enter="switchMode(task)">
                </span>

            </li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                title: 'A Faire',
                task: null,
                tasks: [],
            },
            methods: {
                addTask: function () {
                    this.tasks.push({
                        id: Date.now(),
                        description: this.task,
                        done: false,
                        isInEditMode: false

                    });
                    console.log('tasks', this.tasks);
                    this.task = null;
                },
                switchMode: function (task) {
                    task.isInEditMode = !task.isInEditMode
                },
                deleteTask: function (task) {
                    this.tasks = this.tasks.filter(function (t) {
                        return t.id !== task.id;
                    });
                }
            }

        })
    </script>
</body>

</html>